<div class="text-center">
    <h3>{{collection.Name}}</h3>
    <div class="spinner" ng-show="isLoading"></div>
    <div>
        <table class="container main">
            <thead>
                <tr><td>Name</td><td>Uploaded</td><td>Action</td></tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in collection.DocumentMeta ">
                    <td><a href="/api/document/{{document.Id}}">{{document.FileName}}</a></td>
                    <td>{{document.UploadTime}}</td>
                    <td>
                        <button title="Remove document" type="button" class="btn btn-default" aria-label="Left Align" ng-click="deleteDocument(document.Id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="isLoading" class="container main">
            <input type="file" id="fileChooser" accept="*" file-input class="hidden" onchange="angular.element(this).scope().uploadDocument(this)">
            <button title="Upload new document" type="button" class="btn btn-success col-xs-12" ng-click="selectDocument()">Upload new document</button>
        </div>
    </div>
</div>